---
import { ViewTransitions } from 'astro:transitions'
import type { BaseHeadProps } from './BaseLayout'

type Props = BaseHeadProps

const {
  author = '@ashnel3',
  description = "Ashnel's development blog",
  keywords = ['Development'],
  thumb = '/profile.png',
  title,
} = Astro.props
---

<head>
  <!-- general -->
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <ViewTransitions />
  <!-- icons -->
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="shortcut icon" href="/favicon.png" type="image/png" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <!-- metadata general -->
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords.join(',')} />
  <meta name="robots" content="index, follow" />
  <meta name="language" content="English" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <!-- metadata twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content={author} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={thumb} />
  <!-- metadata opengraph -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={Astro.site} />
  <meta property="og:image" content={thumb} />
  <slot />
</head>
